libs
!libs/ace-min-noconflict/src-min-noconflict/worker-javascript.js
!libs/bem-components/design/common.blocks/theme/_islands/clear_size_s.svg
node_modules/
.DS_Store
.idea
.project
.svn
npm-debug.log

# bem
.bem
.enb
*blocks/*/*
!common.blocks/puzzle/*.jpg
*bundles*/*/*.*
!*bundles*/*/*.min.*
!*bundles*/*/*.html

!*bundles*/.bem/*

.bowerrc
.editorconfig
.travis.yml
README.md
README.ru.md
bower.json
package.json
