.scene {
    cursor: pointer;
    user-select: none;
    display: flex;
    width: 600px;
    height: 300px;
    font-size: 20px;
    position: relative;
    background-color : rgb(214, 252, 207);
}

.scene__obj {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
